packrat/lib*/
inst/doc
tests/testthat/Rplots.pdf
yahoodb-journal

credentials.json
**/credentials.json

**/doparallel.log
**/progress.log

*.Rda
*.Rds

docs/reference/RandomPolicy-1.png

# Created by https://www.gitignore.io/api/r


