.Rproj.user
.Rhistory
.RData
.Ruserdata
progress.txt
packrat/lib*/
*.RData
inst/doc
demo/dadada.R
tests/testthat/Rplots.pdf
tests/testthat/Rplots.pdf
data/webscope/*
demo/data/*
yahoodb-journal
progress.txt
credentials.json
**/credentials.json
**/progress.txt
**/doparallel.log
**/progress.log
docs/reference/RandomPolicy-1.png
demo/demo_yahoo_data/test
