.Rproj.user
.Rhistory
.RData
.Ruserdata
#progress.txt
packrat/lib*/
#*.RData
inst/doc
tests/testthat/Rplots.pdf
yahoodb-journal
credentials.json
**/credentials.json
#**/progress.txt
#**/doparallel.log
#**/progress.log
docs/reference/RandomPolicy-1.png
